Universe
Universe/*
world
world/*
logs
logs/*
backups
backups/*
config/Chikachi/*
server.properties
server.properties.template
*.zip
snapshots-server
snapshots-server/*
Biome*
dynmap/web/tiles/*
dynmap/web/tiles
crash-reports
crash-reports/*
*.dump
world.spawn
world.spawn/
*.log
ops.json
usercache.json
usernamecache.json
banned-*
.mixin*
*.dll
autostart.stamp
plugins/magibridge/MagiBridge.conf
