# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=4c2b1560-a2f0-43cd-8fdd-ef65168f0921

    # Set to true to disable all reporting
    B:opt-out=false
}


